.nav {
   grid-area: nav-bar;
   background-color: rgb(90, 212, 243);
   color: #fff;
 }

 .link {
   text-decoration: none;
   color: #fff;
   font-size: 22px;
 }

 .active {
  text-decoration: none;
  font-size: 26px;
  color: gold;
 }
 
 .li {
   margin: 0px 0px 10px 0px;
 }
 
 .ul {
   list-style: none;
 }

 