
.app-wrapper {
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 5fr;
  height: 800px;
  grid-template-areas: 
    'header header'
    'nav-bar content';
}
@media (max-width: 767px) {
  .navigation-app {
    display: none;
  }
}

.preload {
  width: 100%;
  height: 100%;
  position: absolute; 
  left: 50%;
  top: 40%;
}